* {
 
  margin: 0;
  padding: 0;
}

#body {
  font-family: 'Press Start 2P', cursive;
  background-image: url(/img/funkyWallpaper.jpg);
  
}

/* Basic styles, change according to your style */

#start-page,
#start-page-recipe,
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 5px solid rgb(255,162,63);
  border-radius: 25px;
  margin-top: 30px;
}

#start-page {
  background-image: url(/img/oldLady\ TEXT2.jpg);
  background-size: cover;
  text-align: center;
}

#instructions{
  color: white;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 25px;
  opacity: 0.8;
  padding: 15px ;
  margin-bottom: 325px;
  margin-right: 75px;
  margin-left: 75px;
}

#recipeInst{
  color: white;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 25px;
  padding: 25px ;
  margin-bottom: 350px;
  margin-right: 75px;
  margin-left: 75px;
}

#start{
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 50px;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 25px;
  padding: 20px;
}

#start:hover{
  font-family: 'Press Start 2P', cursive;
  color: rgb(255,162,63);
  font-size: 50px;
  background-color: white;
  border: 5px solid rgb(255,162,63);
  border-radius: 25px;
  padding: 20px;
}

.start-game-button{
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 50px;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 25px;
  padding: 20px;
}

.start-game-button:hover{
  font-family: 'Press Start 2P', cursive;
  color: rgb(255,162,63);
  font-size: 50px;
  background-color: white;
  border: 5px solid rgb(255,162,63);
  border-radius: 25px;
  padding: 20px;
}

#lose-page {
  display: none;
}

#loser{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-bottom: 0%;
    width: 300%
  }

  to {
    margin-top: 0%;
    width: 100%;
  }

  75% {
    font-size: 300%;
    ;
    width: 150%;
  }
}



canvas {
  border: 5px solid rgb(255,162,63);
  background-color: rgb(255,252,166);
  border-radius: 25px;
  opacity: 0.95;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}