* {
 
  margin: 0;
  padding: 0;
}

/* BACKGROUND */

#body {
  font-family: 'Press Start 2P', cursive;
  background-image: url(/img/funkyWallpaper.jpg);
  
}

/* PAGES */

#start-page,
#start-page-recipe,
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 5px solid rgb(255,162,63);
  border-radius: 25px;
  margin-top: 30px;
}

#start-page {
  background-image: url(/img/oldLady\ TEXT2.jpg);
  background-size: cover;
  text-align: center;
}

#instructions{
  color: white;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 25px;
  opacity: 0.8;
  padding: 15px ;
  margin-bottom: 325px;
  margin-right: 75px;
  margin-left: 75px;
}
#recipe{
  color: white;
  margin-top: 100px;

}

#recipeInst{
  color: white;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 22px;
  padding: 15px;
  }

#ingredient-list{
  color: white;
  line-height : 25px;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 25px;
  padding: 15px;
}

li{
  list-style: none;
  text-align: left;
}

#start{
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 50px;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 25px;
  padding: 20px;
}

#start:hover{
  font-family: 'Press Start 2P', cursive;
  color: rgb(255,162,63);
  font-size: 50px;
  background-color: white;
  border: 5px solid rgb(255,162,63);
  border-radius: 25px;
  padding: 20px;
}

.start-game-button{
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 25px;
  background-color: rgb(255,162,63);
  border: 5px solid white;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 10px;
}

.start-game-button:hover{
  font-family: 'Press Start 2P', cursive;
  color: rgb(255,162,63);
  font-size: 25px;
  background-color: white;
  border: 5px solid rgb(255,162,63);
  border-radius: 25px;
  
}

#lose-page {
  display: none;
}

#win-page {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0;
}

#loser{
  color: white;
  font-size: 50px;
  animation-duration: 3s;
  animation-name: slidein;
}

#winer{
  color: white;
  font-size: 25px;
  animation-duration: 3s;
  margin-top: 300px;
  animation-name: slidein;
}

#grandpa{
  margin-bottom: 500px;
  margin-left: 200px;
}

@keyframes slidein {
  from {
    
    width: 300%
  }

  to {
   
    width: 100%;
  }

  75% {
    font-size: 300%;
    ;
    width: 150%;
  }
}

canvas {
  border: 5px solid rgb(255,162,63);
  background-color: rgb(255,252,166);
  border-radius: 25px;
  opacity: 0.95;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
}

.flex-child {
  width: 30%;
  padding-top: 10px;
}

#instruction-recipe{
  padding-top: 60px;
}